<% if current_user %>
  <% if !@baskets.empty? %>
    <p> You went shopping on the following dates: </p>
    <ul>
      <% @baskets.each do |b| %>
        <li> <%= link_to b.date.localtime.strftime('%A, %d %b %Y %l:%M %p'), basket_path(b) %></li>
      <% end %>
    </ul>
  <% else %>
    <p> You currently have no purchase history loaded. You can do that <%= link_to "here", new_basket_path %></p>
    <% end %>
  <% end %>
