<h4>Import Purchase History</h4>

<p>This web app currently works only for gmail, and only if you have receipts from New Seasons in your inbox. Enter in a date in year-month-day format (i.e 2016-11-01) and it will provide you with your purchase history from that date to the present. The records of these purchases will be stored in a database so click on the "Delete your entire purchase history" link above to delete all of it in one fell swoop.</p>

<div class = "well">
  <%= form_tag("/baskets", method: "post", class: "form-inline") do %>
    <%= text_field_tag(:date, "", required: true, class: "form-control datepicker") %>
    <%= submit_tag("Submit", class: "btn btn-primary") %>
  <% end %>
</div>

<p> Depending on how many email receipts you choose to process, this could take a few minutes, during which the numbers will tabulate in the background. </p>
