<div id="notifications">
<h4 class="text-center">Import Purchase History</h4>

<div class="panel panel-default">
  <div class="panel-heading">
    <h5> Choose how far back you want to look. Depending on how many email receipts you choose to process, this could take a few minutes. </h5>
  </div>
  <div class="panel-body">
    <%= form_tag("/baskets", method: "post", remote: true) do %>
    <div class="form-group">
      <%= text_field_tag(:date, "", id: "textfield_id", style: "background-color: white", required: true, class: "form-control datepicker blo") %>
    </div>
    <div class="form-group">
      <%= submit_tag("Submit", class: "btn btn-primary btn-block") %>
    </div>

    <% end %>
  </div>
</div>
</div>
