<form name="ctrl.listForm" ng-submit="ctrl.listForm.$valid && ctrl.createList" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5> Make a List</h5>
    </div>
    <div class="panel-body">

      <div class="col-md-12 list-group">
        <input  type="text"
            class="form-control"
            placeholder="search here for items to add or manually enter in the table below..."
            ng-model="ctrl.search">
      </div>

      <div ng-show="ctrl.search">
        <div class="text-center">
          <div class="list-group list-group-horizontal">
            <a ng-click="ctrl.addToList(item)" ng-repeat="item in ctrl.product_summaries | filter:{ nickname: ctrl.search }" href="#" class="list-group-item">{{item.nickname}}</a>
          </div>
        </div>
      </div>

      <div ng-hide="(ctrl.search.length > 0 && (ctrl.product_summaries | filter: ctrl.search).length > 0)">
        <div class="col-md-5 list-group">
          <input name="manualSearchName" ng-required="ctrl.newItem.price > 0" class="form-control" placeholder="name" ng-model="ctrl.newItem.name">
        </div>

        <div class="col-md-4 list-group">
          <input name="manualSearchPrice" only-numbers ng-required="ctrl.newItem.name.length > 0" class="form-control" placeholder="price"ng-model="ctrl.newItem.price">
        </div>

        <div class="col-md-3">
          <button ng-click="ctrl.addToList(ctrl.newItem)"class="btn btn-primary btn-block pull-right"> add </button>
        </div>
      </div>

      <div style="color:red" ng-hide="ctrl.search">
        <div class="col-md-5 list-group" style="color:red" ng-hide="ctrl.search">
          <div  ng-messages="ctrl.listForm.manualSearchName.$error" ng-show="ctrl.listForm.manualSearchPrice.$touched">
            <div ng-message="required"> Name required</div>
          </div>
        </div>

        <div class="col-md-4 list-group" ng-messages="ctrl.listForm.manualSearchPrice.$error">
          <div ng-show="ctrl.listForm.manualSearchName.$touched">
            <div ng-message="required">Price required</div>
          </div>
          <div ng-show="ctrl.listForm.manualSearchPrice.$touched">
            <div ng-message="onlyNumbers">Must be a positive numeric value</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="ctrl.list.length > 0">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <h5 class="heading">
            Name
          </h5>
        </div>
        <div class="col-md-3">
          <h5 class="heading">
            Unit Price
          </h5>
        </div>
        <div class="col-md-2">
          <h5 class="heading">
            Quantity/Weight
          </h5>
        </div>
        <div class="col-md-3">
          <h5 class="heading">
            Total Price
          </h5>
        </div>
        <div class="col-md-1">
          <h5 class="heading"></h5>
        </div>
      </div>

      <div ng-repeat="item in ctrl.list track by $index">
        <ng-form name="listItemForm">
          <div class="row">
            <div class="list-group">

              <div class="col-md-3 list-item">
                <input name="listItemName" class="form-control" ng-model="item.name" required>
              </div>
              <div class="col-md-3 list-item">
                <input name="listItemPrice" class="form-control" ng-model="item.price" required only-numbers>
              </div>
              <div class="col-md-2 list-item">
                <input name="listItemQuantity" class="form-control" ng-model="item.quantity" required only-numbers>
              </div>
              <div class="col-md-3 list-item">
                <span class="uneditable-input form-control"> {{ item.price * item.quantity | currency }}</span>
              </div>
              <div class="col-md-1 list-item">
                <button ng-click="ctrl.remove(item, ctrl.list)"class="btn btn-danger btn-block pull-right"> X </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="list-group">
              <div class="col-md-3" style="color:red">
                <div ng-messages="listItemForm.listItemName.$error">
                  <div ng-message="required"> Name required </div>
                </div>
              </div>
              <div class="col-md-3" style="color:red">
                <div ng-messages="listItemForm.listItemPrice.$error">
                  <div ng-message="required"> Price required </div>
                  <div ng-message="onlyNumbers">Must be a positive numeric value</div>
                </div>
              </div>
              <div class="col-md-2" style="color:red">
                <div ng-messages="listItemForm.listItemQuantity.$error">
                  <div ng-message="required"> Quantity required </div>
                  <div ng-message="onlyNumbers">Must be a positive numeric value</div>
                </div>
              </div>
            </div>
          </div>
        </ng-form>
      </div>

    </div>


    <div class="cold-md-12" ng-show="ctrl.listTotal()">
        <h3 class="text-center">TOTAL: {{ ctrl.listTotal() | currency }}</h3>
    </div>


      <button ng-click="ctrl.createList(ctrl.list)" class="col-md-12 btn btn-success btn-block">Email list to yourself</button>


</form>
