<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="myModalLabel" class="text-center">Privacy Policy</h4>
</div>
<div class="modal-body" style="font-size:0.9em">
  <p>
    First, Grocer parses receipts sent to your gmail by New Seasons Market, and that is the sole extent of its interaction with your gmail. Second, Grocer keeps your shopping information private and secure. The only way to view it is by logging in to your account. Grocer will not reveal your shopping history to anyone else. No one will know you buy a lot of American Cheese!*
  </p>
  <p>
    Grocer does share the product and price information it obtains from your receipts, but always in a manner that is completely decoupled from your shopping history. Presently, it's used in the "smart" list-maker function. If you have purchased a product that Grocer has not seen before (or pay a different price), it may insert that product and/or new price information into the database used by Grocer's list maker function, but with no user information attached to it. Other people using the list maker will simply have more existing products to choose from in creating their lists.
  </p>
  <p>
    If anything in this policy ever materially changes I will notify all registered users and give them the opportunity to opt out.
   </p>

   <p>
     <small>* I think American Cheese is great.</small>
   </p>

 </div>
