<div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </br>
  <h4>This is a sample account so all you can do is view the purchase history. Registered users can also import and delete their purchase history. To register an account, click <%= link_to "here", log_out_to_register_path %></h4>
</div>
