<div class="row">

  <div class="col-lg-4 list-group" style="padding-left: 15px">
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg btn-block"%>
  </div>
  <div class="col-lg-4 list-group" style="padding-left: 15px">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-lg-4 list-group" style="padding-left: 15px">
    <%= link_to "See a demo!", baskets_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
  </div>
