<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 id="myModalLabel" class="text-center">Terms of Service</h4>
</div>
<div class="modal-body" style="font-size:0.7em">
  <p>
    Thank you for using Grocer. These Terms of Service ("Terms") govern your access to and use of the website "my-grocer.com" and all its services and content (“Grocer”). Your access to and use of Grocer are conditioned on your acceptance of and compliance with these Terms. By accessing or using Grocer you agree to be bound by these Terms.
  </p>
  <h5> 1. Basic Terms </h5>
  <p>
    Grocer is currently a non-commercial, open-source web application available to you at no cost. The functionality it provides is evolving and may change from time to time without prior notice to you. In addition, Grocer may stop (permanently or temporarily) functioning for you or for users generally and may not be able to provide you with prior notice.
  </p>
  <h5> 2. Privacy </h5>
  <p>
    Grocer locates and parses e-receipts sent to your gmail account from receipts@newseasonsmarket.com in order to provide you with a consolidated view of your purchases from New Seasons Market, and that is the sole extent of its interaction with your email. Grocer will not reveal your shopping history to anyone else. Grocer does share the product and price information it obtains from your receipts, but always in a manner that is decoupled from your shopping history and stripped of any information that could be used to identify you.
  </p>
  <h5> 3. Bad Behavior </h5>
  <p>
    You may not do any of the following while accessing or using Grocer: (i) access, tamper with, or use non-public areas Grocer, Grocer’s computer systems, or the technical delivery systems of Grocer’s providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search Grocer by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Grocer (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Grocer; (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use Grocer to send altered, deceptive or false source-identifying information; or (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing Grocer, or by scripting the creation of content in such a manner as to interfere with or create an undue burden on Grocer.
    </p>
  <h5> 4. Disclaimers and Limitations of Liability </h5>
  <p>
    Please read this section carefully since it limits the liability of Grocer and any of its related entities ("the Entities"). Each of the subsections below only applies up to the maximum extent permitted under applicable law.
  </p>
  <h6> A. Grocer is Available "AS-IS" </h6>
  <p>
    Your access to and use of Grocer is at your own risk. You understand and agree that Grocer is provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, THE ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
  </p>
  <p>
    The Entities make no warranty and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of Grocer and its content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of Grocer and its content; (iii) the deletion of, or the failure to store or to transmit, any content and other communications maintained by Grocer; and (iv) whether Grocer will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the Entities or through Grocer, will create any warranty not expressly made herein.
  </p>
  <h6> B. Links </h6>
  <p>
    Grocer may contain links to third-party websites or resources. You acknowledge and agree that the Entities are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by the Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.
  </p>
  <h6> C. Limitation of Liability </h6>
  <p>
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.
  <p>
    THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
  </p>
  <h5> 5. General Terms </h5>
  <h6> A. Waiver and Severability </h6>
  <p>
    The failure of the Entities to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.
  </p>
  <h6> B. Controlling Law and Jurisdiction </h6>
  <p>
    These Terms of Service and any separate agreements shall be governed by and construed in accordance with the laws of Oregon, United States, without regard to its conflict of law provisions.
  </p>
  <h6> C. Entire Agreement </h6>
  <p>
    The Entities may revise these Terms from time to time. If the revision, in our sole discretion, is material we will notify you via e-mail to the email associated with your account. By continuing to access or use Grocer after those revisions become effective, you agree to be bound by the revised Terms.
  </p>
 </div>
