<h3 class="text-center"> Welcome To Grocer! </h3>
  <div>
    <div class="panel-heading">
      <h4>
        This app is designed for gmail users who shop at New Seasons Market and receive (and retain) email receipts from that store. It will search through your receipt emails and give you a comprehensive view of your past shopping history.
      </h4>
    </br>
      <h4>
        Want to know how many times you purchased a particular product? If its price has changed over time? What you spend the most on? It's all there, in easy to search tables and helpful charts.
      </h4>
    </br>
      <h4>
        In its current state, this app only works for gmail users with New Seasons receipts in their inbox, but even if you don't fit in that category, you can still access my sample user account, which has tons of real product data from their North Portland store.
      </h4>
    </div>
</div>
