</br>

<div class="jumbotron" style="background-color: #CED919; color: black">

  <h3 class="text-center">How Grocer Works</h3>
  <p>
    Grocer is a web application that looks at email receipts from New Seasons Market in your gmail and from them creates a database of your shopping history. It has no connection to New Seasons Market itself, and relies entirely on the information contained in your receipts.
  </p>

  <p>
    As you probably guessed, you need a gmail account with email receipts inside of it in order to benefit the most from Grocer. However, even if you don't have gmail, or don't want to import your purchase history, you can still use Grocer. I've leveraged the existing product database into a "smart" shopping list maker that lets you easily and quickly build shopping lists with built-in price information.
  </p>

  <p>
    The process by which Grocer builds the product database is still a work in progress. It relies on the html structure of New Seaons's email receipts in order to intelligently decide what is a product, a unit price, a weight, etc. Their receipts are consistent in their organization, but I have found a few edge cases and programmed solutions around them. However, in building the app I had only my own family's receipts to work with, so there could be more edge cases out there. If you see discrepencies in your information, email new.seasons.shopping.list@gmail.com with them and I'll see what I can do to resolve it.
  </p>
</div>
