</br>

<div class="jumbotron" style="background-color: #CED919; color: black">

  <h3 class="text-center">How Grocer Works</h3>
  <p>
    Grocer is a web application that looks at email receipts from New Seasons Market in your gmail and from them creates a database of your shopping history. It has no connection to New Seasons Market itself, and relies entirely on the information contained in your receipts.
  </p>

  <p>
    As you probably guessed, you need a gmail account with email receipts inside of it in order to benefit the most from Grocer. However, even if you don't have gmail, or don't want to import your purchase history, you can still use Grocer. I've leveraged the existing product database into a "smart" shopping list maker that lets you easily and quickly build shopping lists with built-in price information.
  </p>

  <p>
      In parsing receipts, Grocer relies on the html structure of New Seasons Market email receipts in order to intelligently decide what is a product, unit price, weight, etc. Their email receipts are consistent in their organization, but there may be edge cases that Grocer has not yet seen. To report any discrepencies, email <a href="mailto:info@my-grocer.com">info@my-grocer.com</a>.
  </p>
</div>
