<hr />
<div class="col-md-10 col-md-offset-1">
  <h4 class="text-center">Privacy Policy</h4>
  <p>
    Grocer parses e-receipts sent to your gmail from receipts@newseasonsmarket.com in order to provide you with a consolidated view of your purchases from New Seasons Market. Grocer does not search your email for any other content or read emails from any other sender. Furthermore, Grocer will not share your shopping trips with anyone.
  </p>
  <p>
    Grocer will share individual product information it obtains from your receipts, but always in a manner that is completely decoupled from your identity and shopping history, and solely for the purpose of making Grocer a more valuable tool for all of its users. Presently, product information extracted from your receipts is used in the "smart" list-maker function. If you purchase a product that Grocer has not seen before (or pay a different price for it), Grocer may insert that product and/or new price information into the database used by Grocer's list maker function, but with no user information attached to it. Other people using the list maker will simply have more existing products to choose from in creating their lists.
  </p>
</div>
</br></br>
