</br>
<div class="jumbotron" style="background-color: #646170; color: #f2f4f7">

  <p class="lead">
    Grocer is a simple but powerful tool that lets New Seasons Market customers stay on top of their shopping habits (and budget). Want to know how many times you purchased a particular product? If its price has changed over time? What you spend the most on? It's all there, in easy to search tables and helpful charts.
  </p>

  <div class="collapse" id="viewdetails">
    <p>
      The only catch? You need to be signed up for email receipts and have them in your gmail. Grocer will search your gmail for New Seasons Market receipt emails, import your purchase history, and then create a rich database of your shopping trips, products, prices over time, and other analytics that will help you get a handle on your purchasing patterns.
    </p>
    <p>
      Even if you don't have gmail, or don't want to import your purchase history, you can still use Grocer. I've leveraged the existing product database into a "smart" shopping list maker that lets you easily and quickly build shopping lists with built-in price information. There are almost 1000 products in the database and it's growing every week. So come on in and check it out.
    </p>
  </div>
  <p><a href="#" class="welcomebutton" data-toggle="collapse" data-target="#viewdetails">Read more &raquo;</a></p>

</div>

<div class="row">

  <div class="col-lg-4 list-group" style="padding-left: 15px">
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning btn-lg btn-block"%>
  </div>
  <div class="col-lg-4 list-group" style="padding-left: 15px">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
  <div class="col-lg-4 list-group" style="padding-left: 15px">
    <form role="form" class="new_user " id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="hHwg9r8AfuKssVAxL9XABziZEF/UQf4F0U3kJhKZIQPVIEv5UgHBnzfXxJfd/NAsOiIJSBSH1JcFpC5KIoQJ2g==">
      <input autofocus="autofocus" class="form-control" value="sampleuser@mail.com" type="hidden" name="user[email]" id="user_email">
      <input autocomplete="off" class="form-control" value="password" type="hidden" name="user[password]" id="user_password">
      <input type="submit" name="commit" value="See a demo!" class="btn btn-success btn-lg btn-block">
    </form>
  </div>
  </div>
