  <div id="error_explanation"></div>


<%= form_for(product, remote: true, class: "form-inline") do |f| %>
  <%=f.text_field :nickname, class: "form-control" %>
  <%= f.submit :class => 'btn btn-primary', value: 'rename' %>
<% end %>
