<% if current_user && !@products.empty? %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h5>You have purchased the following products</h5>
    </div>
    <div class="panel-body">
      <div id="products_table" class="panel-body">
        <%= render partial: 'products', locals: { products: @products } %>
      </div>
    </div>
  </div>
<% elsif current_user && @products.empty?%>
  <p> You currently have no products. Load your purchase history to generate a list of your products.</p>
<% end %>
