$('#error_explanation').html("");

<% if @product.valid? %>
  $("#chart").html("<%= escape_javascript(product_monthly_purchasing ) %>");
  $("#nickname").html("<%= escape_javascript(@product.nickname ) %> ");
<% else %>
  <% @product.errors.full_messages.each do |message| %>
    $('#error_explanation').append("<li> <%= escape_javascript(message) %> </li>");
  <% end %>
<% end %>
