<h4 style="text-align: center">There's still one more step!</h4>
<p>
  Grocer (intake@receipts.my-grocer.com) has now been added to the list of email addesses that you are authorized to automatically forward messages to. You now need to create a forwarding filter to automatically send New Seasons Market receipt emails (and only receipt emails) to Grocer. Watch this 90 second walkthrough video to see how.
</p>
