<h4 style="text-align: center">There's still one more step!</h4>
<p>
  Grocer (intake@receipts.my-grocer.com) has now been added to the list of email addesses that you are authorized to automatically forward messages to. The next step is to create a forwarding filter to automatically send New Seasons Market receipt emails (and only receipt emails) to Grocer. Watch a  <a href="https://www.my-grocer.com/about" target="blank">90 second walkthrough video</a> to see how.
</p>
